<!DOCTYPE html>
<%# ^ constant %>
<html>
<%# <- punctuation.bracket %>
<%#  ^ punctuation.bracket %>
  <head>
  <%# ^ tag %>
    <%= csrf_meta_tag() %>
    <%# <- punctuation.bracket %>
    <%#                 ^ punctuation.bracket %>
    <link phx-track-static rel="stylesheet" src={ Routes.static_path(@conn, "/css/app.css") } />
    <%# <- punctuation.bracket %>
    <%# ^ tag %>
    <%#    ^ attribute %>
    <%#                     ^ attribute %>
    <%#                           ^ string %>
    <%#                                         ^ punctuation.bracket %>
    <%#                                                                                     ^ punctuation.bracket %>
    <%#                                                                                       ^ punctuation.bracket %>
  </head>
  <body>
    <%= if true do %>
    <%# <- punctuation.bracket %>
    <%#            ^ punctuation.bracket %>
      <MyApp.Components.modal key=value key="value" key={ @value } />
      <%# <- punctuation.bracket %>
      <%# ^ module %>
      <%#   ^ module %>
      <%#       ^ module %>
      <%#              ^ punctuation.delimiter %>
      <%#               ^ function %>
      <%#                   ^ function %>
      <%#                      ^ attribute %>
      <%#                         ^ string %>
      <%#                                ^ attribute %>
      <%#                                    ^ string %>
      <%#                                           ^ attribute %>
      <%#                                               ^ punctuation.bracket %>
      <%#                                                        ^ punctuation.bracket %>
      <%#                                                          ^ punctuation.bracket %>
      <.form />
      <%# ^ function %>
<%#    ^ punctuation.delimiter %>
      <Foo.Bar.Baz.Fizz.buzz />
      <%# <- punctuation.bracket %>
<%#    ^ module %>
<%#       ^ module %>
<%#           ^ module %>
<%#                ^ module %>
<%#                   ^ module %>
<%#                    ^ punctuation.delimiter %>
<%#                     ^ function %>
<%#                        ^ function %>
      <.component>
      <%# <- punctuation.bracket %>
      <%# ^ function %>
      <%#        <- punctuation.bracket %>
        <:slot>
        <%# <- punctuation.bracket %>
        <%# ^ tag %>
        <%#   ^ punctuation.bracket %>
        </:slot>
        <%# <- punctuation.bracket %>
        <%# ^ tag %>
        <%#    ^ punctuation.bracket %>
      </.component>
    <% end %>
    <%# here we're intentionally leaving a tag unclosed to trigger the error later on </html>: %>
    <div></div></div>
<%#   ^ tag %>
<%#         ^ tag %>
<%#               ^ tag %>
  </body>
</html>
<%# ^ error %>
